.body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}  
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column
}
.header{
  width: 100%;
  position: fixed; /* Фиксируем шапку поверх */
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #ffffff5c;
  transition: transform 0.3s ease-in-out;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.header__inner{
  align-items: center;
  justify-content: space-between;
  display: flex;
  
}
.header__logo {
  height: 90px;
  width: 160px;
  
}
.header__list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.header__item {
}
.header__link {
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  line-height: 170%;
  font-family: "Quicksand", sans-serif;
  
}
.header__link--active {
  color: #fff;
  text-decoration: underline;
  
}
.hero {
  background-image: url(../img/Phone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.hero__inner {
  margin-top: 14vw;
  max-width: 1000px;
  padding: 20px;
}
.hero__subtitle {
  font-size: 38px;
  color: #fff;
}
.hero__title {
  font-size: 7vw;
  color: #fff;
}
.btn {
  background: gray;
  color: #fff;
  padding: 15px;
  font-size: 24px;
  border-radius: 15px;
  opacity: 0.9;
}
.hero__link {
  cursor: pointer;
}

.main {
  flex-grow: 1;
  /* background: green; */
}
.footer{
  height: 100px;
  width: 100%;
  background: blue;
  
}
